* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f6f9;
}
img {
  max-width: 100%;
}
.header{
  box-shadow: 0px 5px 10px #00000069;
}
.contentheader {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #30598c;
  padding: 10px 30px;
  
}
.contentheader img {
  width: 100px;
}
/* ---------------------------------------------------------------- */
.search{
  padding-left: 16px;
  
}
.search-course{
  width: 316px;
  background-color:#fff;
  border-radius: 5px;
  margin-bottom: 24px;
  margin-top: 18px;
  box-shadow: 5px 2px 10px 1px #d9dbde;
}
.search-form{
  width: 285px;
  height: 38px;
  padding: 6px 40px 6px 12px;
  background-color:#fff;
  border: none;
  font-size: 15px;
  border-radius: 5px;  
  
}
.search-icon{
  color: hsl(0, 0%, 67%);
  
}



/* ----------------------------------------------------------------------- */
.course {
  padding-top: 30px;
  padding-bottom: 18px;
}
.container, .search {
  width: 1392px;
  margin:  auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex-basis: 25%;
  padding: 0 16px;
}
.card {
  background-color: #ffffff;
  margin-bottom: 30px;
  min-height: 338px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 1px #d9dbde;
}
.image {
  height: 220px;
}
.course .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content {
  padding: 15px 24px;
}
.content h3 {
  color: #464646;
  font-size: 19px;
  font-weight: 400;
}
.content p {
  color: #757575;
  font-size: 14px;
  font-weight: 15;
}
.content p span {
  color: #ffd600;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/* --------------------------------------------------------------------- */
.footer {
  background-color: #30598c;
  /* margin-bottom: 70px; */
}
.row .footer {
  padding: 0 15px;
}
.content-footer {
  margin: 48px 0;
  line-height: 35px;
  min-height: 280px;
}
ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
  margin-top: 0;
  font-size: 16px;
  color: #fff;
}
h4 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}
li {
  font-size: 14px;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #919294;
}
.icon {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 0;
}
.icon li {
  margin-right: 24px;
  float: left;
  font-size: 33px;
}
