.box {
  height: 900px;
  background-color: rgb(128, 0, 0);

  position: relative;
  overflow: hidden;
  z-index: 1;
}
body {
  font-family: 'roboto', sans-serif;
}
img {
  width: 100%;
}
/* ------------------------human&present----------------------------- */
.human-noel {
  width: 100px;
  position: absolute;
  z-index: 1;
  top: 100px;
  right: -10%;
  animation: human 25s infinite forwards;
}
@keyframes human {
  0% {
    top: -100px;
    right: -15%;
  }
  100% {
    top: 400px;
    right: 110%;
  }
}
.sleigh {
  position: absolute;
  z-index: 2;
  width: 300px;
  top: 650px;
  left: -500px;
  animation: sleigh 10s infinite forwards;
}
@keyframes sleigh {
  0% {
    left: -500px;
  }
  100% {
    left: 1600px;
  }
}

.sleigh-box {
  position: absolute;
  width: 300px;
  top: -130px;
  left: -500px;
  animation: sleigh-box 6s;
}
@keyframes sleigh-box {
  0% {
    left: -500px;
  }

  75% {
    left: 40%;
  }
  100% {
    left: 2650px;
  }
}

.present {
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: 3;
  bottom: 900px;
  left: 40%;
  animation: present 6s;
  animation-delay: 3.3s;
}
@keyframes present {
  0% {
    bottom: 900px;
  }
  10% {
    bottom: 750px;
  }
  100% {
    bottom: 50px;
  }
}

/* animation snow */
#snow {
  position: absolute;
  /* width: 1000px;
  height: 1000px; */
}
.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}

canvas {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	overflow: hidden;
  position: absolute;
  
}
/* ----------------------------------------------------- */

.card {
  width: 500px;
  height: 400px;

  /* box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%); */
  /* overflow: hidden; */
  position: absolute;
  top: 400px;
  left: 35%;
  z-index: 8;
}

.content1 {
  width: 400px;
  height: 150px;
  position: absolute;
  background-color: rgb(14, 68, 68);
  z-index: 8;
  left: -400px;

  transition: all 1s;
}
.card:hover .content1 {
  left: 50px;
}

.content2 {
  width: 400px;
  height: 250px;
  position: absolute;
  background-color: rgb(217, 233, 233);
  z-index: 8;
  top: 150px;
  right: -400px;
  transition: all 1s;
}
.card:hover .content2 {
  right: 50px;
}

/* ----------------tree------------------- */
.plan {
  width: 650px;
  height: 870px;
  position: absolute;
  left: 32%;
  top: 20px;
 
}

.tree {
  width: 500px;

  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 3;
   animation-duration: 2.5s;
}
.bgr-tree {
  width: 600px;
  position: absolute;
  left: 5%;
  top: 10px;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
}

/* ---------------------animals------------------ */
.footer-img-1 {
  width: 400px;
  position: absolute;
  bottom: -20%;
  right: -30%;
  animation: footer-1 5s infinite forwards;
  z-index: 7;
}
@keyframes footer-1 {
  0% {
    bottom: -20%;
    right: -30%;
  }
  50% {
    bottom: 0;
    right: 0;
  }
  90% {
    bottom: 0;
    right: 0;
  }
  100% {
    bottom: -20%;
    right: -30%;
  }
}
.footer-img-2 {
  width: 1100px;
  position: absolute;
  bottom: -17%;
  left: 18%;
  opacity: 0.1;
  z-index: 7;
}
/* -----------------------item ------------------------------ */
.banner{
  width: 350px;
  position: absolute;
  top: -2%;
  right: 0;
  animation-duration: 3s;
}
.lamp{
  width: 450px;
  position: absolute;
  left: 3%;
  animation-duration: 2s;
}
/* --------------------------------------- */

.heart-1{
  /* width: 100px; */
  color: red;
  position: absolute;
  top: 0;
  left: 0;
}


.fa-heart{
  width: 500px;
  height: 500px;
  animation: fa-heart 2s ease infinite;
}
@keyframes fa-heart {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}

